body {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 38px;
  text-align: center;
}

h5{
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  margin: 0;
}

h6{
  display: inline;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 20px;
}

hr{
  position: relative;
  margin: 5px 0 9px 0.5px;
  width: 15%;
  border: 1px solid;
  border-radius: 40px;
}

/* STYLING OF PRICE IN CARDS */

span{
  float: right;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #198754;
  font-size: 15px;
}

.fa-rupee-sign{
  font-weight: lighter;
  font-size: 13px;
}

/* STYLING OF CARD */
.card {
  margin: 10px auto;
  padding: 3px;
  border: 1px solid #e6e6e6;
  width: 230px;
}

.card-img-top {
  height: 180px;
  border: 1px solid #e6e6e6;
  margin : 0;
  background-color: #e6e6e6;
}

.card-body{
  padding:8px;
}
/***********************************************/


/* FRONT SECTION STYLING */
/***********************************************/
#front {
  background-image: url("images/front.png");
  background-repeat: repeat;
  background-size: 100%;
  padding: 40px 100px;
}

.navbar {
  font-size: 17px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.brand {
  color: #198754;
  text-decoration: none;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav-item {
  margin-right: 15px;
}

.front-view {
  margin-top: 50px;
}

.title {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 50px;
}

.intro {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 20px 0;
}

.search-box {
  margin-top: 20px;
}

.search:hover {
  background-color: white;
  color: #198754;
  border: 1px solid #198754;
}

.book {
  text-align: right;
}

.book img {
  display: inline-block;
  margin: -50px;
  width: 70%;
}

/* STYLING OF ARROW DOWN BUTTON */

.arrowDown {
  text-align: center;
  margin-top: -30px;
}

.fa-angle-down {
  border-radius: 100px;
  border: 5px solid #f0efeb;
  background-color: white;
  padding: 10px 17px;
  font-size: 30px;
  font-weight: 50;
  color: #000;
}

@media (max-width: 1028px) {
  .title {
    text-align: center;
  }

  .intro {
    text-align: center;
  }

  .book {
    display: none;
  }
}
/***********************************************/


/* BEST SELLER AND OTHER BOOKS STYLING AND SOME OF CUSTOMER STYLING*/
/***********************************************/
.shop , #customer {
  padding: 70px 70px;
}

.shop h2 , #customer h2 {
  padding-bottom: 60px;
}

.division {
  width: 80%;
  margin: auto;
  align-items: center;
}

.indicator {
  margin: -70px;
}
/***********************************************/


/* BEST SELLER BANNER STYLING*/
/***********************************************/
#banner{
  background-image: url("images/BestSeller.png");
  background-repeat: repeat;
  background-size: 100%;
  padding: 60px 100px 20px 100px;
  margin: 100px 0 0 0;
}

#banner h2{
  text-align: left;
  margin-bottom: 10px;
}

#banner img{
  width: 350px;
  margin: -15px 0 0 120px;
}

@media (max-width: 1028px) {
  #banner , #banner h2{
    text-align: center;
  }

  #banner img{
    display: none;
  }
}
/***********************************************/


/* CUSTOMER SECTION STYLING*/
/***********************************************/
.reviewcard{
  margin: 10px auto;
  padding: 20px;
  border: 2px solid #e6e6e6;
  width: 280px;
}

.reviewcard:hover{
  transform: scale(1.02);
  border: none;
  box-shadow: 1px 1px 5px 5px rgb(248, 248, 248);
}

.fa-star{
  color: gold;
  margin-bottom: 20px;
}

.comment{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.info img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: 14px;
}

.info span{
  float: left;
  color: #a1a1a1;
  padding: 2px;
  margin: 0;
}
/***********************************************/


/* REVIEW BANNER STYLING*/
/***********************************************/
#reviewBanner{
  background-image: url("images/BestSeller.png");
  background-repeat: repeat;
  background-size: 100%;
  width: 90%;
  margin: auto;
}

.bannerimage{
  padding: 0;
}

#reviewBanner img{
  width: 100%;
  margin: 0;
  height: 100%;
}

.content{
  text-align: center;
  padding: 70px 30px;
}

#reviewBanner hr{
  margin: 0 auto 20px;
  border: 2px solid;
  width: 25%;
}

.content p{
  margin-bottom: 30px;
}

.fa-arrow-right{
  font-weight: 100;
}
/***********************************************/


/* FOOTER SECTION STYLING*/
/***********************************************/
#footer{
  width: 90%;
  margin: 100px auto 30px;
}

#footer img{
  width: 15%;
}

#footer p{
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

#footer h6{
  font-size: 17px;
  color:#a7a7a7;
}

#footer ul{
  list-style-type: none;
  padding: 0;
}

#footer a , #footer li{
  color: #6b6b6b;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.fa-linkedin-in, .fa-envelope , .fa-github-alt , .fa-instagram{
  font-size: 15px;
  color: #f0efeb;
  background-color: #198754;
  border: 1.3px solid #198754;
  border-radius: 60px;
  padding: 10px;
  margin:5px 3px;
}

.fa-linkedin-in:hover , .fa-envelope:hover , .fa-github-alt:hover , .fa-instagram:hover{
  color: #198754;
  background: #f0efeb;
  border: 1.3px solid #f0efeb;
}

@media (max-width: 1028px) {
  #footer{
    text-align: center;
  }
  #footer button{
    margin-bottom: 20px;
  }
}
